.form-cont {
  margin-bottom: 20px;
  box-shadow: 2px 2px 3px rgba(0,0,0,.023);
  border-radius: 5px;
  border: 1px solid grey;
  padding: 25px;
  
  /* this fixes the safari bug where still shows old border when dynamially resizes */
  /* basically just forces a repaint of the element */
  transform: translateZ(0);
}

.form-cont h2 {
  padding-right: 20px;
}

.form-header {
  display: flex;
  justify-content: space-between;
}

form button {
  margin-bottom: 7px;
}

.edit-delete-btn-cont {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.add-experience-btn {
  margin-top: 20px;
}

.top-form-button {
  margin-top: 10px;
}